# PostgreSQL configuration
POSTGRES_HOST=<HOSTNAME>
POSTGRES_PORT=<PORT NUMBER>
POSTGRES_USER=<DATABASE USER>
POSTGRES_PASSWORD=<DATABASE USER PASSWORD>
POSTGRES_DB=<DATABASE NAME>

# PgAdmin configuration
PGADMIN_EMAIL=<EMAIL>
PGADMIN_PASSWORD=<PASSWORD>

# API
STAGING_API_URL=http://localhost:8000